<%= javascript_include_tag 'avira.js' %>
<div class="row col-md-12">
    </br>
</div>
<div class="row">
    <div class="col-md-4 clearfix well">
        <div class="text-center col-md-offset-1">
            <h2>Avira Look-Out</h2>
            <form>
                <div class="row"> 
                    <select id="webcam-select" class="nav">
                        <option value="0" selected="true" style="display:none;">Select webcam</option>
                        <option value="webcam1">Webcam1</option>
                        <option value="webcam2">Webcam2</option>
                    </select>
                </div>
                </br>
                <button id="submit" type="button" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-md-7 clearfix well">
        <div id="webcam-image" style="min-height:400px;">
        </div>
    </div>
</div>
